*{
    margin: 0;
    padding: 0;
}
header{
    padding: 5rem 0 0 11rem;
}
header p{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
header h1{
    font-family: 'Ultra', serif;
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
    width: 80%;

}
.article-big  {
    display: inline-block;
    width: 770px;
    height: 448px;  
    background-color: #9B9B9B;
}
.article-big .content{
    color: #FFFF;
    margin-top: 10rem;
}
.article-big  p{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    width: 62px;
    height: 32px;
}
.article-big h2{
    font-family: 'Ultra', serif;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    width: 294px;
    height: 96px;
}
.article-big .bottom-article{
    display: flex;
    justify-content: space-between;
}
.article-big  .bottom-article p{ 
    font-family: 'DM Sans', sans-serif;
    height: 68px;
    width: 322px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
} 
.article-big  .bottom-article h2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.article-card{
    display: inline-block;
    height: 448px;
    width: 370px;
}
.article-card img{
    width: 370px;
    height: 304px;
}
.article-card p{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.article-card .container h2{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.article-card .container{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.article-card .container p{
    font-family: 'Ultra', serif;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}